#container
  .heading
    %p
      Mike wont be in his first 1/2 century forever. He's only got
      %countdown{dateinmillis: @due_date_in_millis}
      before he turns 50.
    %p
      Mike needs your help figuring out what he dreams about!
    %p
      Only you can help him <em>achieve</em> his dreams!

  #bucket-list-app
    %span(ng-view=true)
