#container
  .heading
    %p
      Mike is 50.  An you know his second 1/2 century wont last forever. He's got a lot he wants to do!
    %p
      Mike needs your help figuring out what he dreams about!
    %p
      How can you help him <em>achieve</em> his dreams!

  #bucket-list-app
    %span(ng-view=true)
