<div id="list-container">
  <ul id="items">
    <li>
      <form ng-submit="addItem()">
        <input type="text" placeholder="What does Mike want to achieve?" ng-model="newItem">
      </form>
    </li>
    <li ng-repeat="todo in todos | orderBy:rating">
      <div class="item">
        <rating rating-value="todo.rating" on-rating-changed="voteFor(todo)">></rating>
        <div class="title" ng-click="edit(todo)"><a>{{ todo.title }}</a></div>
        <div class="endorse" ng-class="{endorsed:todo.endorsed, unendorsed:!todo.endorsed}"></div>
      </div>
    </li>
  </ul>
</div>