<div id="list-container">
  <table id="items">
    <tr>
      <td class="voted"></td>
      <td class="title">
        <form ng-submit="addItem()">
          <input id="new-title" type="text" placeholder="What does Mike want to achieve?" ng-model="newItem">
        </form>
      </td>
      <th class="endorse"></th>
    </tr>
    <tr class="item" ng-repeat="todo in todos | orderBy:rating">
      <td class="voted">
        <rating rating-value="todo.rating" on-rating-changed="voteFor(todo)">></rating>
      </td>
      <td class="title">
        <a ng-click="edit(todo)">{{ todo.title }}</a>
      </td>
      <td>
        <div class="endorse" ng-class="{endorsed:todo.endorsed, unendorsed:!todo.endorsed}"></div>
      </td>
    </tr>
  </table>
</div>